<a href="https://colab.research.google.com/github/marcocaramanti/MLPNS_MCaramanti/blob/main/MLPNS23_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Native variables and variable types

## Integers

In [1]:
intVar = 3

In [2]:
type(intVar)

int

## Floats

In [3]:
floatVar = 3.0
type(floatVar)

float

Osserviamo che a seconda dell'assegnamento cambia il tipo della variabile.

In [4]:
float2Var = float(intVar)
type(float2Var)

float

In [5]:
intVar*floatVar

9.0

In [7]:
type(intVar + floatVar - intVar/2)

float

## Strings

In [10]:
print('Hello, World!')

Hello, World!

In [15]:
strVar = 'Hello, World'
print(strVar)

Hello, World

## Boolean variables

In [16]:
True

True

In [17]:
False

False

In [22]:
if intVar > floatVar:
  print("This is true")
  print(intVar * floatVar)
else:
  print("Condition was false")

Condition was false

In [21]:
intVar == floatVar

True

In [24]:
# == is equal?
print(intVar == floatVar)
# > grater
print(intVar > floatVar)
# < greater
print(intVar < floatVar)
# != not equal
print(intVar != floatVar)

True
False
False
False

In [28]:
# Possiamo combinare condizioni
print((intVar > floatVar) & (intVar < floatVar)) # AND
print((intVar > floatVar) | (intVar < floatVar)) # OR

False
False

In [29]:
False == 0

True

In [30]:
True == 0

False

In [35]:
True == 1

True

In [36]:
# * is logical AND
if (intVar > floatVar) * (intVar == floatVar):
  print("True")
else:
  print("False")

False

In [37]:
# + is logical OR
if (intVar > floatVar) + (intVar == floatVar):
  print("True")
else:
  print("False")

True

In [38]:
if 2:
  print("Something")

Something

In [41]:
for i in range(1,10, 2):
  print(i)

1
3
5
7
9

## Lists

In [51]:
listVar = [intVar, floatVar, strVar, 0, True]

# Variables as objects

In [44]:
strVar = "hello, world!"

In [45]:
strVar.capitalize()

'Hello, world!'

In [46]:
strVar.upper()

'HELLO, WORLD!'

In [47]:
strVar.isdigit() # chiede di ispezionare la stringa e dire se è un numero

False

In [49]:
"3".isdigit()
# Notiamo che basta mettere le virgolette per avere una stringa e applicare 
# direttamente i metodi

True

In [50]:
floatVar.is_integer()

True

In [53]:
listVar.append(11)
listVar

[3, 3.0, 'hello, world!', 0, True, 11, 11]

In [54]:
listVar[0]

3

In [55]:
strVar[0]

'h'

In [56]:
'h' in strVar

True

In [58]:
3 in listVar

True

In [59]:
64 in listVar

False

In [60]:
listVar

[3, 3.0, 'hello, world!', 0, True, 11, 11]

In [61]:
listVar[1]

3.0

In [62]:
listVar[1] = 9
listVar

[3, 9, 'hello, world!', 0, True, 11, 11]

In [63]:
# Questo non funziona nelle stringhe
strVar[1] = 'h'

TypeError: ignored

## Exercise: worlde

In [93]:
def check(target, guess):
  if target == guess:
    print(guess)
    print("You won!")
  else:
    str = "";
    for i in range(5):
      if target[i] == guess[i]:
        str = str + target[i]
      elif guess[i] in target:
        str = str + '*'
      else:
        str = str + '_'
    
    print(str)

target = "acres"
guess = "Acres"
if len(target)!=5 | len(guess)!=5:
  print("Wrong word length.")
else: 
  check(target.upper(), guess.upper())

ACRES
You won!

# Functions

In [102]:
def wordle(guess, target):
  """
  A function that checks a word guess against a target
  Input:
    guess: a string
  Return:
    a string
  """

  test = ["_"] * 5

  target = target.lower()
  guess = guess.lower()

  if len(tagret) != len(guess):
    print("Wrong word length")
  else:
    if target == guess:
      print("DONE!")
    else:
      print("Try again")
      for i in range(len(test)):
        if guess[i] == target[i]:
          test[i] == guess[i]
        elif guess[i] in target:
          test[i] = '*'

  return "".join(test)

In [98]:
wordle?

In [100]:
list_strings_var = ["H", "e", "l", "l", "o"]
"".join(list_strings_var)

'Hello'

# Importing packages

In [104]:
import pandas as pd

# Possiamo importare anche solo alcuni elementi di un pacchetto
from pandas import read_csv
# Se si fa così basta rifersi alla funzione come read_csv

# MAI USARE
# from pandas import *

In [105]:
url = "https://raw.githubusercontent.com/fedhere/PyBOOT/master/311_Service_Requests_from_2010_to_Present.csv"

In [106]:
df = pd.read_csv(url)
# read_csv ritorna il contenuto del file messo in una variabile di tipo
# dataframe, tipico di pandas

In [107]:
df

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,54049402,05/01/2022 12:00:03 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10452.0,1006 GERARD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.830653,-73.923082,"(40.83065331987539, -73.92308231033165)"
1,54046813,05/01/2022 12:00:09 AM,05/01/2022 12:07:46 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10027.0,364 WEST 127 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.812378,-73.952401,"(40.81237834836466, -73.95240115039357)"
2,54045643,05/01/2022 12:00:17 AM,05/01/2022 12:10:38 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10033.0,593 FT WASHINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.854714,-73.937026,"(40.854713655427595, -73.93702585036192)"
3,54051838,05/01/2022 12:00:21 AM,05/01/2022 12:53:23 AM,NYPD,New York City Police Department,Blocked Driveway,Partial Access,Street/Sidewalk,11214.0,8106 17 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.611332,-74.002028,"(40.611331690801165, -74.00202773560115)"
4,54052808,05/01/2022 12:00:25 AM,05/01/2022 01:01:47 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10304.0,935 TARGEE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.605614,-74.090992,"(40.605613964168455, -74.09099181031843)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,54049386,05/01/2022 02:04:45 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10031.0,514 WEST 136 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.820160,-73.953158,"(40.82015993990901, -73.95315791994004)"
920,54049413,05/01/2022 02:05:35 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,11231.0,151 RICHARDS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.676566,-74.011100,"(40.6765664690211, -74.01110036402942)"
921,54052476,05/01/2022 02:05:38 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11208.0,37 HEMLOCK STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.688911,-73.872353,"(40.68891081481749, -73.87235278581583)"
922,54053504,05/01/2022 02:06:13 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Overnight Commercial Storage,Street/Sidewalk,11373.0,60-42 BOOTH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.731194,-73.869533,"(40.73119351356087, -73.86953320857873)"
923,54048300,05/01/2022 02:06:26 AM,NaN,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Music,Street/Sidewalk,11210.0,723 EAST 27 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.633076,-73.950965,"(40.633076468003175, -73.95096540810518)"

In [109]:
df.shape

# Shape è un attributo delle variabili di tipo dataframe. Notiamo che è 
# un attributo, non un metodo, quindi non ci sono parentesi ().

(924, 41)

In [110]:
df.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [111]:
df

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,54049402,05/01/2022 12:00:03 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10452.0,1006 GERARD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.830653,-73.923082,"(40.83065331987539, -73.92308231033165)"
1,54046813,05/01/2022 12:00:09 AM,05/01/2022 12:07:46 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10027.0,364 WEST 127 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.812378,-73.952401,"(40.81237834836466, -73.95240115039357)"
2,54045643,05/01/2022 12:00:17 AM,05/01/2022 12:10:38 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10033.0,593 FT WASHINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.854714,-73.937026,"(40.854713655427595, -73.93702585036192)"
3,54051838,05/01/2022 12:00:21 AM,05/01/2022 12:53:23 AM,NYPD,New York City Police Department,Blocked Driveway,Partial Access,Street/Sidewalk,11214.0,8106 17 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.611332,-74.002028,"(40.611331690801165, -74.00202773560115)"
4,54052808,05/01/2022 12:00:25 AM,05/01/2022 01:01:47 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10304.0,935 TARGEE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.605614,-74.090992,"(40.605613964168455, -74.09099181031843)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,54049386,05/01/2022 02:04:45 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10031.0,514 WEST 136 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.820160,-73.953158,"(40.82015993990901, -73.95315791994004)"
920,54049413,05/01/2022 02:05:35 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,11231.0,151 RICHARDS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.676566,-74.011100,"(40.6765664690211, -74.01110036402942)"
921,54052476,05/01/2022 02:05:38 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11208.0,37 HEMLOCK STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.688911,-73.872353,"(40.68891081481749, -73.87235278581583)"
922,54053504,05/01/2022 02:06:13 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Overnight Commercial Storage,Street/Sidewalk,11373.0,60-42 BOOTH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.731194,-73.869533,"(40.73119351356087, -73.86953320857873)"
923,54048300,05/01/2022 02:06:26 AM,NaN,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Music,Street/Sidewalk,11210.0,723 EAST 27 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.633076,-73.950965,"(40.633076468003175, -73.95096540810518)"

In [112]:
df.iloc[0]
# Restituisce la riga zero del dataframe. Iloc sta per index locate.
# L'oggetto ritornato è di tipo pandas series. Una pandas series è l'oggetto
# principale di pandas. Un dataframe è una collezione di pandas series.

Unique Key                                                       54049402
Created Date                                       05/01/2022 12:00:03 AM
Closed Date                                                           NaN
Agency                                                               NYPD
Agency Name                               New York City Police Department
Complaint Type                                        Noise - Residential
Descriptor                                               Loud Music/Party
Location Type                                  Residential Building/House
Incident Zip                                                      10452.0
Incident Address                                       1006 GERARD AVENUE
Street Name                                                 GERARD AVENUE
Cross Street 1                                           EAST  164 STREET
Cross Street 2                                           EAST  165 STREET
Intersection Street 1                                    EAST  164 STREET
Intersection Street 2                                    EAST  165 STREET
Address Type                                                      ADDRESS
City                                                                BRONX
Landmark                                                    GERARD AVENUE
Facility Type                                                         NaN
Status                                                        In Progress
Due Date                                                              NaN
Resolution Description                                                NaN
Resolution Action Updated Date                                        NaN
Community Board                                                  04 BRONX
BBL                                                          2024770001.0
Borough                                                             BRONX
X Coordinate (State Plane)                                      1005536.0
Y Coordinate (State Plane)                                       241916.0
Open Data Channel Type                                             ONLINE
Park Facility Name                                            Unspecified
Park Borough                                                        BRONX
Vehicle Type                                                          NaN
Taxi Company Borough                                                  NaN
Taxi Pick Up Location                                                 NaN
Bridge Highway Name                                                   NaN
Bridge Highway Direction                                              NaN
Road Ramp                                                             NaN
Bridge Highway Segment                                                NaN
Latitude                                                        40.830653
Longitude                                                      -73.923082
Location                          (40.83065331987539, -73.92308231033165)
Name: 0, dtype: object

In [113]:
df.iloc[:, 1]
# Estrae le colonne

0      05/01/2022 12:00:03 AM
1      05/01/2022 12:00:09 AM
2      05/01/2022 12:00:17 AM
3      05/01/2022 12:00:21 AM
4      05/01/2022 12:00:25 AM
                ...
919    05/01/2022 02:04:45 AM
920    05/01/2022 02:05:35 AM
921    05/01/2022 02:05:38 AM
922    05/01/2022 02:06:13 AM
923    05/01/2022 02:06:26 AM
Name: Created Date, Length: 924, dtype: object

In [116]:
# Se si sa il nome di righe/colonne basta passare quello a loc
df.loc[:,"Created Date"]

0      05/01/2022 12:00:03 AM
1      05/01/2022 12:00:09 AM
2      05/01/2022 12:00:17 AM
3      05/01/2022 12:00:21 AM
4      05/01/2022 12:00:25 AM
                ...
919    05/01/2022 02:04:45 AM
920    05/01/2022 02:05:35 AM
921    05/01/2022 02:05:38 AM
922    05/01/2022 02:06:13 AM
923    05/01/2022 02:06:26 AM
Name: Created Date, Length: 924, dtype: object

In [118]:
url ="https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"

# In questo file la separazione fra colonne avviene con ::, non virgole

df = pd.read_csv(url, sep="::")

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [119]:
df

         1                    Toy Story (1995)   Animation|Children's|Comedy
0        2                      Jumanji (1995)  Adventure|Children's|Fantasy
1        3             Grumpier Old Men (1995)                Comedy|Romance
2        4            Waiting to Exhale (1995)                  Comedy|Drama
3        5  Father of the Bride Part II (1995)                        Comedy
4        6                         Heat (1995)         Action|Crime|Thriller
...    ...                                 ...                           ...
3877  3948             Meet the Parents (2000)                        Comedy
3878  3949          Requiem for a Dream (2000)                         Drama
3879  3950                    Tigerland (2000)                         Drama
3880  3951             Two Family House (2000)                         Drama
3881  3952               Contender, The (2000)                Drama|Thriller

[3882 rows x 3 columns]

In [120]:
# Notiamo che questo file ha già un indice: vogliamo usare questo come colonna 
# indici. Allora si importa come
df = pd.read_csv(url, sep="::", index_col=0, header=None)
# header = None perché la prima riga è già un record

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [121]:
df

                                       1                             2
0
1                       Toy Story (1995)   Animation|Children's|Comedy
2                         Jumanji (1995)  Adventure|Children's|Fantasy
3                Grumpier Old Men (1995)                Comedy|Romance
4               Waiting to Exhale (1995)                  Comedy|Drama
5     Father of the Bride Part II (1995)                        Comedy
...                                  ...                           ...
3948             Meet the Parents (2000)                        Comedy
3949          Requiem for a Dream (2000)                         Drama
3950                    Tigerland (2000)                         Drama
3951             Two Family House (2000)                         Drama
3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 2 columns]

In [128]:
# Facendo così chiama le colonne 1 e 2. Brutto. Allora
colnames = ["Title", "Genre"]
movies = pd.read_csv(url, sep="::", index_col=0, header=None, names=colnames)

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [129]:
movies

                                   Title                         Genre
1                       Toy Story (1995)   Animation|Children's|Comedy
2                         Jumanji (1995)  Adventure|Children's|Fantasy
3                Grumpier Old Men (1995)                Comedy|Romance
4               Waiting to Exhale (1995)                  Comedy|Drama
5     Father of the Bride Part II (1995)                        Comedy
...                                  ...                           ...
3948             Meet the Parents (2000)                        Comedy
3949          Requiem for a Dream (2000)                         Drama
3950                    Tigerland (2000)                         Drama
3951             Two Family House (2000)                         Drama
3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 2 columns]

In [130]:
movies.shape

(3883, 2)

In [131]:
movies["Title"]

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: Title, Length: 3883, dtype: object

In [133]:
movies.Title
# Possiamo anche usare questa sintassi. Però per consistenza usiamo solo quella 
# con le parentesi quadre

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: Title, Length: 3883, dtype: object

In [135]:
# Quanti generi ci sono?
movies["Genre"].unique()

array(["Animation|Children's|Comedy", "Adventure|Children's|Fantasy",
       'Comedy|Romance', 'Comedy|Drama', 'Comedy',
       'Action|Crime|Thriller', "Adventure|Children's", 'Action',
       'Action|Adventure|Thriller', 'Comedy|Drama|Romance',
       'Comedy|Horror', "Animation|Children's", 'Drama',
       'Action|Adventure|Romance', 'Drama|Thriller', 'Drama|Romance',
       'Thriller', 'Action|Comedy|Drama', 'Crime|Drama|Thriller',
       'Drama|Sci-Fi', 'Romance', 'Adventure|Sci-Fi', 'Adventure|Romance',
       "Children's|Comedy|Drama", 'Documentary', 'Drama|War',
       'Action|Crime|Drama', 'Action|Adventure', 'Crime|Thriller',
       "Animation|Children's|Musical|Romance", 'Action|Drama|Thriller',
       "Children's|Comedy", 'Drama|Mystery', 'Sci-Fi|Thriller',
       'Action|Comedy|Crime|Horror|Thriller', 'Drama|Musical',
       'Crime|Drama|Romance', 'Adventure|Drama', 'Action|Thriller',
       "Adventure|Children's|Comedy|Musical", 'Action|Drama|War',
       'Action|Adventure|Crime', 'Crime', 'Drama|Mystery|Romance',
       'Action|Drama', 'Drama|Romance|War', 'Horror',
       'Action|Adventure|Comedy|Crime', 'Comedy|War',
       'Action|Adventure|Mystery|Sci-Fi', 'Drama|Thriller|War',
       'Action|Romance|Thriller', 'Crime|Film-Noir|Mystery|Thriller',
       'Action|Adventure|Drama|Romance', "Adventure|Children's|Drama",
       'Action|Sci-Fi|Thriller', 'Action|Adventure|Sci-Fi',
       "Action|Children's", 'Horror|Sci-Fi', 'Action|Crime|Sci-Fi',
       'Western', "Animation|Children's|Comedy|Romance",
       "Children's|Drama", 'Crime|Drama',
       'Drama|Fantasy|Romance|Thriller', 'Drama|Horror', 'Comedy|Sci-Fi',
       'Mystery|Thriller', "Adventure|Children's|Comedy|Fantasy|Romance",
       'Action|Adventure|Fantasy|Sci-Fi', 'Drama|Romance|War|Western',
       'Action|Crime', 'Crime|Drama|Romance|Thriller',
       'Action|Adventure|Western', 'Horror|Thriller',
       "Children's|Comedy|Fantasy", 'Film-Noir|Thriller',
       'Action|Comedy|Musical|Sci-Fi', "Children's",
       'Drama|Mystery|Thriller', 'Comedy|Romance|War', 'Action|Comedy',
       "Adventure|Children's|Romance", "Animation|Children's|Musical",
       'Comedy|Crime|Fantasy', 'Action|Comedy|Western', 'Action|Sci-Fi',
       'Action|Adventure|Comedy|Romance', 'Comedy|Crime|Drama',
       'Comedy|Thriller', 'Horror|Sci-Fi|Thriller',
       'Mystery|Romance|Thriller', 'Comedy|Western', 'Drama|Western',
       'Action|Adventure|Crime|Thriller', 'Action|Comedy|War',
       'Comedy|Mystery', 'Comedy|Mystery|Romance', 'Comedy|Drama|War',
       'Action|Drama|Mystery', 'Comedy|Crime|Horror', 'Film-Noir|Sci-Fi',
       'Comedy|Romance|Thriller', "Action|Adventure|Children's|Sci-Fi",
       "Children's|Comedy|Musical", 'Action|Adventure|Comedy',
       'Action|Crime|Romance',
       "Action|Adventure|Animation|Children's|Fantasy",
       "Animation|Children's|Comedy|Musical", 'Adventure|Drama|Western',
       'Action|Adventure|Crime|Drama',
       'Action|Adventure|Animation|Horror|Sci-Fi', 'Action|Horror|Sci-Fi',
       'War', 'Action|Adventure|Mystery', 'Mystery',
       'Action|Adventure|Fantasy',
       "Adventure|Animation|Children's|Comedy|Fantasy", 'Sci-Fi',
       'Documentary|Drama', 'Action|Adventure|Comedy|War',
       'Crime|Film-Noir|Thriller', 'Animation',
       'Action|Adventure|Romance|Thriller', 'Animation|Sci-Fi',
       'Animation|Comedy|Thriller', 'Film-Noir', 'Sci-Fi|War',
       'Adventure', 'Comedy|Crime', 'Action|Sci-Fi|War',
       'Comedy|Fantasy|Romance|Sci-Fi', 'Fantasy',
       'Action|Mystery|Thriller', 'Comedy|Musical',
       'Action|Adventure|Sci-Fi|Thriller', "Children's|Drama|Fantasy",
       'Adventure|War', 'Musical|Romance', 'Comedy|Musical|Romance',
       'Comedy|Mystery|Romance|Thriller', 'Film-Noir|Mystery', 'Musical',
       "Adventure|Children's|Drama|Musical",
       'Drama|Mystery|Sci-Fi|Thriller', 'Romance|Thriller',
       'Film-Noir|Romance|Thriller', 'Crime|Film-Noir|Mystery',
       'Adventure|Comedy', 'Action|Adventure|Romance|War', 'Romance|War',
       'Action|Drama|Western', "Children's|Comedy|Western",
       "Adventure|Children's|Comedy", "Children's|Comedy|Mystery",
       "Adventure|Children's|Fantasy|Sci-Fi",
       "Adventure|Animation|Children's|Musical",
       "Adventure|Children's|Musical", 'Crime|Film-Noir',
       "Adventure|Children's|Comedy|Fantasy",
       "Children's|Drama|Fantasy|Sci-Fi", 'Action|Romance',
       'Adventure|Western', 'Comedy|Fantasy', 'Animation|Comedy',
       'Crime|Drama|Film-Noir', 'Action|Adventure|Drama|Sci-Fi|War',
       'Action|Sci-Fi|Thriller|War', 'Action|Western',
       "Action|Animation|Children's|Sci-Fi|Thriller|War",
       'Action|Adventure|Romance|Sci-Fi|War',
       'Action|Horror|Sci-Fi|Thriller',
       'Action|Adventure|Comedy|Horror|Sci-Fi', 'Action|Comedy|Musical',
       'Mystery|Sci-Fi', 'Film-Noir|Mystery|Thriller',
       'Adventure|Comedy|Drama', 'Action|Adventure|Comedy|Horror',
       'Action|Drama|Mystery|Romance|Thriller', 'Comedy|Mystery|Thriller',
       'Adventure|Animation|Sci-Fi|Thriller', 'Action|Drama|Romance',
       'Action|Adventure|Drama', 'Comedy|Drama|Musical',
       'Documentary|War', 'Drama|Musical|War', 'Action|Horror',
       'Horror|Romance', 'Action|Comedy|Sci-Fi|War', 'Crime|Drama|Sci-Fi',
       'Action|Romance|War', 'Action|Comedy|Crime|Drama',
       'Action|Drama|Thriller|War', "Action|Adventure|Children's",
       "Action|Adventure|Children's|Fantasy",
       "Adventure|Animation|Children's|Comedy|Musical",
       'Crime|Drama|Mystery', 'Action|Adventure|Comedy|Sci-Fi',
       "Children's|Fantasy", 'Action|Mystery|Sci-Fi|Thriller',
       'Action|Mystery|Romance|Thriller', 'Adventure|Thriller',
       'Action|Thriller|War', 'Action|Crime|Mystery',
       'Horror|Mystery|Thriller', 'Crime|Horror|Mystery|Thriller',
       'Comedy|Drama|Thriller', 'Drama|Sci-Fi|Thriller',
       'Drama|Romance|Thriller', 'Action|Adventure|Sci-Fi|War',
       'Comedy|Crime|Drama|Mystery', 'Comedy|Crime|Mystery|Thriller',
       'Film-Noir|Sci-Fi|Thriller', 'Adventure|Sci-Fi|Thriller',
       'Crime|Drama|Mystery|Thriller', 'Comedy|Documentary',
       'Documentary|Musical', 'Action|Drama|Sci-Fi|Thriller',
       "Adventure|Animation|Children's|Fantasy",
       'Adventure|Comedy|Romance', 'Mystery|Sci-Fi|Thriller',
       'Action|Comedy|Crime', "Animation|Children's|Fantasy|War",
       'Action|Crime|Drama|Thriller', 'Comedy|Sci-Fi|Western',
       "Children's|Fantasy|Musical", 'Fantasy|Sci-Fi',
       "Children's|Comedy|Sci-Fi", "Action|Adventure|Children's|Comedy",
       "Adventure|Children's|Drama|Romance",
       "Adventure|Children's|Sci-Fi",
       "Adventure|Children's|Comedy|Fantasy|Sci-Fi",
       "Animation|Children's|Comedy|Musical|Romance",
       "Children's|Musical", 'Drama|Fantasy',
       "Animation|Children's|Fantasy|Musical", 'Adventure|Comedy|Musical',
       "Children's|Sci-Fi", "Children's|Horror", 'Comedy|Fantasy|Romance',
       'Comedy|Crime|Thriller', "Adventure|Animation|Children's|Sci-Fi",
       'Action|Crime|Mystery|Thriller', 'Adventure|Musical',
       "Animation|Children's|Drama|Fantasy", "Children's|Fantasy|Sci-Fi",
       'Adventure|Fantasy|Romance', 'Crime|Horror',
       'Action|Adventure|Horror', 'Adventure|Fantasy|Sci-Fi',
       'Drama|Film-Noir|Thriller', 'Action|Comedy|Fantasy',
       'Sci-Fi|Thriller|War', 'Action|Adventure|Sci-Fi|Thriller|War',
       'Action|Adventure|Drama|Thriller', 'Crime|Horror|Thriller',
       'Animation|Musical', 'Action|War',
       'Action|Comedy|Romance|Thriller', 'Comedy|Horror|Thriller',
       'Drama|Horror|Thriller', 'Action|Sci-Fi|Thriller|Western',
       'Drama|Romance|Sci-Fi', 'Action|Adventure|Horror|Thriller',
       'Comedy|Film-Noir|Thriller', 'Comedy|Horror|Musical|Sci-Fi',
       'Comedy|Romance|Sci-Fi', 'Action|Comedy|Sci-Fi|Thriller',
       'Action|Sci-Fi|Western', 'Comedy|Horror|Musical', 'Crime|Mystery',
       'Animation|Mystery', 'Action|Horror|Thriller',
       'Action|Drama|Fantasy|Romance', 'Horror|Mystery',
       "Adventure|Animation|Children's", 'Musical|Romance|War',
       'Adventure|Drama|Romance', 'Adventure|Animation|Film-Noir',
       'Action|Adventure|Animation', 'Comedy|Drama|Western',
       'Adventure|Comedy|Sci-Fi', 'Drama|Romance|Western',
       'Comedy|Drama|Sci-Fi', 'Action|Drama|Romance|Thriller',
       'Adventure|Romance|Sci-Fi', 'Film-Noir|Horror',
       'Crime|Drama|Film-Noir|Thriller', 'Action|Adventure|War',
       'Romance|Western', "Action|Children's|Fantasy",
       'Adventure|Drama|Thriller', 'Adventure|Fantasy', 'Musical|War',
       'Adventure|Musical|Romance', 'Action|Romance|Sci-Fi',
       'Drama|Film-Noir', 'Comedy|Horror|Sci-Fi',
       'Adventure|Drama|Romance|Sci-Fi', 'Adventure|Animation|Sci-Fi',
       'Adventure|Crime|Sci-Fi|Thriller'], dtype=object)

In [136]:
len(movies["Genre"].unique())

301

In [137]:
# Supponiamo di voler conoscere l'anno
# Il metodo split splitta le parole
"Toy Story (1995)".split()

['Toy', 'Story', '(1995)']

In [138]:
# Se vogliamo l'anno
"Toy Story (1995)".split()[-1]
# Il meno indica che partiamo da destra

'(1995)'

In [140]:
# Però ci sono queste parentesi. Vogliamo eliminarle
# Mostriamo due metodi alternativi
"Toy Story (1995)".split()[-1].replace("(","").strip(")")

'1995'

In [147]:
# Ora vogliamo farlo per tutti i film

def get_year(mtitle):
  return int(mtitle.split("(")[-1].strip(")"))

In [148]:
get_year("Toy Story (1995)")

1995

In [150]:
# Vogliamo applicarlo all'intero data frame
# Il metodo map applica la funzione a tutte le righe

year = movies("Title").map(get_year)

TypeError: ignored

In [ ]:
# Possiamo raggruppare le righe del dataframe in base a un attributo

movies.groupby("Year").count()