<a href="https://colab.research.google.com/github/marcocaramanti/MLPNS_MCaramanti/blob/main/titanictree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import pylab as pl
import os
import json 
%pylab inline

# os serve per comunicare comandi da Python al sistema operativo
# json Ã¨ un formato file human-readble e machine-readble. Ha una struttura
# simile a un dizionario di Python

Populating the interactive namespace from numpy and matplotlib

In [2]:
from google.colab import drive

drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [3]:
pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.9/dist-packages (1.5.13)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.9/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.9/dist-packages (from kaggle) (1.26.15)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.9/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.9/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from kaggle) (2.27.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.9/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle) (3.4)

In [4]:
!kaggle --version

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.9/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python3.9/dist-packages/kaggle/api/kaggle_api_extended.py", line 164, in authenticate
    raise IOError('Could not find {}. Make sure it\'s located in'
OSError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [5]:
cd gdrive/My\ Drive

/content/gdrive/My Drive

In [6]:
ls -l *kaggle*

-rw------- 1 root root 70 Apr 13 15:11 kaggle.json

In [7]:
!chmod 600 kaggle.json

In [8]:
ls -l *kaggle*

-rw------- 1 root root 70 Apr 13 15:11 kaggle.json

In [9]:
envs = json.load(open("kaggle.json", "r"))

In [10]:
envs.keys()

dict_keys(['username', 'key'])

In [12]:
os.environ
# Ãˆ un dizionario con tutte le environment variable (es che tipo di shell si
# usa, ecc.) Di solito non ce ne preoccupiamo perchÃ© sono settate dal OS

environ{'SHELL': '/bin/bash',
        'NV_LIBCUBLAS_VERSION': '11.11.3.6-1',
        'NVIDIA_VISIBLE_DEVICES': 'all',
        'COLAB_JUPYTER_TRANSPORT': 'ipc',
        'NV_NVML_DEV_VERSION': '11.8.86-1',
        'NV_CUDNN_PACKAGE_NAME': 'libcudnn8',
        'CGROUP_MEMORY_EVENTS': '/sys/fs/cgroup/memory.events /var/colab/cgroup/jupyter-children/memory.events',
        'NV_LIBNCCL_DEV_PACKAGE': 'libnccl-dev=2.16.2-1+cuda11.8',
        'NV_LIBNCCL_DEV_PACKAGE_VERSION': '2.16.2-1',
        'VM_GCE_METADATA_HOST': '169.254.169.253',
        'HOSTNAME': '8ad7b7f5a3bd',
        'TBE_RUNTIME_ADDR': '172.28.0.1:8011',
        'GCE_METADATA_TIMEOUT': '3',
        'NVIDIA_REQUIRE_CUDA': 'cuda>=11.8 brand=tesla,driver>=450,driver<451 brand=tesla,driver>=470,driver<471 brand=unknown,driver>=470,driver<471 brand=nvidia,driver>=470,driver<471 brand=nvidiartx,driver>=470,driver<471 brand=geforce,driver>=470,driver<471 brand=geforcertx,driver>=470,driver<471 brand=quadro,driver>=470,driver<471 brand=quadrortx,driver>=470,driver<471 brand=titan,driver>=470,driver<471 brand=titanrtx,driver>=470,driver<471 brand=tesla,driver>=510,driver<511 brand=unknown,driver>=510,driver<511 brand=nvidia,driver>=510,driver<511 brand=nvidiartx,driver>=510,driver<511 brand=geforce,driver>=510,driver<511 brand=geforcertx,driver>=510,driver<511 brand=quadro,driver>=510,driver<511 brand=quadrortx,driver>=510,driver<511 brand=titan,driver>=510,driver<511 brand=titanrtx,driver>=510,driver<511 brand=tesla,driver>=515,driver<516 brand=unknown,driver>=515,driver<516 brand=nvidia,driver>=515,driver<516 brand=nvidiartx,driver>=515,driver<516 brand=geforce,driver>=515,driver<516 brand=geforcertx,driver>=515,driver<516 brand=quadro,driver>=515,driver<516 brand=quadrortx,driver>=515,driver<516 brand=titan,driver>=515,driver<516 brand=titanrtx,driver>=515,driver<516',
        'NV_LIBCUBLAS_DEV_PACKAGE': 'libcublas-dev-11-8=11.11.3.6-1',
        'NV_NVTX_VERSION': '11.8.86-1',
        'COLAB_JUPYTER_IP': '172.28.0.12',
        'NV_CUDA_CUDART_DEV_VERSION': '11.8.89-1',
        'NV_LIBCUSPARSE_VERSION': '11.7.5.86-1',
        'COLAB_LANGUAGE_SERVER_PROXY_ROOT_URL': 'http://172.28.0.1:8013/',
        'NV_LIBNPP_VERSION': '11.8.0.86-1',
        'NCCL_VERSION': '2.16.2-1',
        'KMP_LISTEN_PORT': '6000',
        'TF_FORCE_GPU_ALLOW_GROWTH': 'true',
        'ENV': '/root/.bashrc',
        'PWD': '/',
        'TBE_EPHEM_CREDS_ADDR': '172.28.0.1:8009',
        'COLAB_LANGUAGE_SERVER_PROXY_REQUEST_TIMEOUT': '30s',
        'TBE_CREDS_ADDR': '172.28.0.1:8008',
        'NV_CUDNN_PACKAGE': 'libcudnn8=8.7.0.84-1+cuda11.8',
        'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility',
        'LAST_FORCED_REBUILD': '20230403',
        'NV_NVPROF_DEV_PACKAGE': 'cuda-nvprof-11-8=11.8.87-1',
        'NV_LIBNPP_PACKAGE': 'libnpp-11-8=11.8.0.86-1',
        'NV_LIBNCCL_DEV_PACKAGE_NAME': 'libnccl-dev',
        'TCLLIBPATH': '/usr/share/tcltk/tcllib1.20',
        'NV_LIBCUBLAS_DEV_VERSION': '11.11.3.6-1',
        'NVIDIA_PRODUCT_NAME': 'CUDA',
        'COLAB_KERNEL_MANAGER_PROXY_HOST': '172.28.0.12',
        'NV_LIBCUBLAS_DEV_PACKAGE_NAME': 'libcublas-dev-11-8',
        'NV_CUDA_CUDART_VERSION': '11.8.89-1',
        'HOME': '/root',
        'LANG': 'en_US.UTF-8',
        'CUDA_VERSION': '11.8.0',
        'CLOUDSDK_CONFIG': '/content/.config',
        'NV_LIBCUBLAS_PACKAGE': 'libcublas-11-8=11.11.3.6-1',
        'COLAB_RELEASE_TAG': 'release-colab-20230411-060128-RC00',
        'KMP_TARGET_PORT': '9000',
        'KMP_EXTRA_ARGS': '--listen_host=172.28.0.12 --target_host=172.28.0.12 --tunnel_background_save_url=https://colab.research.google.com/tun/m/cc48301118ce562b961b3c22d803539adc1e0c19/m-s-22ikw1pza1dbj --tunnel_background_save_delay=10s --tunnel_periodic_background_save_frequency=30m0s --enable_output_coalescing=true --output_coalescing_required=true',
        'NV_LIBNPP_DEV_PACKAGE': 'libnpp-dev-11-8=11.8.0.86-1',
        'NV_LIBCUBLAS_PACKAGE_NAME': 'libcublas-11-8',
        'COLAB_KERNEL_MANAGER_PROXY_PORT': '6000',
        'CLOUDSDK_PYTHON': 'python3',
        'NV_LIBNPP_DEV_VERSION': '11.8.0.86-1',
        'NO_GCE_CHECK': 'False',
        'PYTHONPATH': '/env/python',
        'SETUPTOOLS_USE_DISTUTILS': 'stdlib',
        'NV_LIBCUSPARSE_DEV_VERSION': '11.7.5.86-1',
        'LIBRARY_PATH': '/usr/local/cuda/lib64/stubs',
        'NV_CUDNN_VERSION': '8.7.0.84',
        'SHLVL': '0',
        'NV_CUDA_LIB_VERSION': '11.8.0-1',
        'COLAB_LANGUAGE_SERVER_PROXY': '/usr/colab/bin/language_service',
        'NVARCH': 'x86_64',
        'NV_CUDNN_PACKAGE_DEV': 'libcudnn8-dev=8.7.0.84-1+cuda11.8',
        'NV_CUDA_COMPAT_PACKAGE': 'cuda-compat-11-8',
        'NV_LIBNCCL_PACKAGE': 'libnccl2=2.16.2-1+cuda11.8',
        'LD_LIBRARY_PATH': '/usr/local/nvidia/lib:/usr/local/nvidia/lib64',
        'COLAB_GPU': '',
        'GCS_READ_CACHE_BLOCK_SIZE_MB': '16',
        'NV_NVPROF_VERSION': '11.8.87-1',
        'PATH': '/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin',
        'NV_LIBNCCL_PACKAGE_NAME': 'libnccl2',
        'COLAB_DEBUG_ADAPTER_MUX_PATH': '/usr/local/bin/dap_multiplexer',
        'NV_LIBNCCL_PACKAGE_VERSION': '2.16.2-1',
        'PYTHONWARNINGS': 'ignore:::pip._internal.cli.base_command',
        'DEBIAN_FRONTEND': 'noninteractive',
        'COLAB_BACKEND_VERSION': 'next',
        'OLDPWD': '/',
        'JPY_PARENT_PID': '77',
        'TERM': 'xterm-color',
        'CLICOLOR': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://ipykernel.pylab.backend_inline',
        'ENABLE_DIRECTORYPREFETCHER': '1',
        'USE_AUTH_EPHEM': '1',
        'PYDEVD_USE_FRAME_EVAL': 'NO'}

In [13]:
# Vogliamo perÃ² aggiungere una env variable
os.environ["KAGGLE_USERNAME"] = envs["username"]
os.environ["KAGGLE_KEY"] = envs["key"]

In [14]:
# A questo punto possiamo accedere a kaggle

In [15]:
!kaggle --version

Kaggle API 1.5.13

In [17]:
!kaggle datasets list

ref                                                        title                                           size  lastUpdated          downloadCount  voteCount  usabilityRating
---------------------------------------------------------  ---------------------------------------------  -----  -------------------  -------------  ---------  ---------------
salvatorerastelli/spotify-and-youtube                      Spotify and Youtube                              9MB  2023-03-20 15:43:25           6145        233  1.0
erdemtaha/cancer-data                                      Cancer Data                                     49KB  2023-03-22 07:57:00           1980         48  1.0
ulrikthygepedersen/fastfood-nutrition                      Fastfood Nutrition                              12KB  2023-03-21 10:02:41           2137         45  1.0
lokeshparab/amazon-products-dataset                        Amazon Products Sales Dataset 2023              80MB  2023-03-26 10:45:19           2349         54  1.0
rkiattisak/student-performance-in-mathematics              Student performance prediction                   9KB  2023-03-12 04:32:56           7288        153  1.0
abhishekrp1517/online-retail-transactions-dataset          Online Retail transactions Dataset              29MB  2023-03-28 16:53:16           1029         39  0.9411765
ashishraut64/global-methane-emissions                      Global Emissions.                               31KB  2023-03-27 09:02:51           2158         47  1.0
ashishraut64/internet-users                                Global Internet users                          163KB  2023-03-29 12:25:13           1404         44  1.0
arnabchaki/popular-video-games-1980-2023                   Popular Video Games 1980 - 2023 ðŸŽ®                1MB  2023-03-23 16:16:51           3124         91  1.0
dgoenrique/netflix-movies-and-tv-shows                     Netflix Movies and TV Shows                      2MB  2023-03-13 18:49:00           3358         85  1.0
priyanshuganwani09/entertainment-movies-tv-shows-database  Entertainment (movies, tv shows) Dataset        47KB  2023-04-02 17:52:36            788         28  1.0
muhammedzidan/car-prices-market                            Car Prices Market                              787KB  2023-04-01 10:07:17           1201         34  1.0
dgoenrique/amazon-prime-movies-and-tv-shows                Amazon Prime Movies and TV Shows                 4MB  2023-03-13 18:50:21           1123         31  1.0
edomingo/chatgpt-1000-daily-tweets                         #ChatGPT 1000 Daily ðŸ¦ Tweets                     3MB  2023-04-12 22:40:16            359         30  1.0
lamiatabassum/top-50-us-tech-companies-2022-2023-dataset   USA Tech Companies Stats                         2KB  2023-03-25 06:06:20           1430         40  1.0
nidzsharma/us-mass-shootings-19822023                      Gun Violence, USA                               31KB  2023-03-28 06:32:25            742         27  0.9411765
usamabuttar/world-happiness-report-2005-present            World Happiness Report, 2005-Present           123KB  2023-03-25 17:38:26           1724         43  1.0
ivnlee/solar-energy-production                             Solar Energy Production                          3MB  2023-03-30 01:50:29            427         25  1.0
mehmettahiraslan/customer-shopping-dataset                 Customer Shopping Dataset - Retail Sales Data    2MB  2023-03-09 07:44:35           4541         88  1.0
rajkumarpandey02/list-of-unicorn-startup-companies         List of Unicorn Startup Companies               15KB  2023-03-27 10:19:49            521         35  1.0

In [18]:
!kaggle datasets list -s titanic

ref                                                 title                                           size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------  ---------------------------------------------  -----  -------------------  -------------  ---------  ---------------
heptapod/titanic                                    Titanic                                         11KB  2017-05-16 08:14:22          53809        991  0.7058824
brendan45774/test-file                              Titanic dataset                                 11KB  2021-12-02 16:11:42          54578        537  1.0
azeembootwala/titanic                               Titanic                                         12KB  2017-06-05 12:14:37          16180        162  0.8235294
rahulsah06/titanic                                  Titanic                                         34KB  2019-09-16 14:43:23           5609         67  0.6764706
yasserh/titanic-dataset                             Titanic Dataset                                 22KB  2021-12-24 14:53:06           6759         39  1.0
prkukunoor/TitanicDataset                           Titanic                                        135KB  2017-01-03 22:01:13           5152         29  0.5882353
fossouodonald/titaniccsv                            Titanic csv                                      1KB  2016-11-07 09:44:58          12396         71  0.5882353
hesh97/titanicdataset-traincsv                      Titanic-Dataset (train.csv)                     22KB  2018-02-02 04:51:06          70211        445  0.4117647
jamesleslie/titanic-cleaned-data                    Titanic: cleaned data                           36KB  2018-11-21 11:50:18           6403         64  0.7647059
pavlofesenko/titanic-extended                       Titanic extended dataset (Kaggle + Wikipedia)  134KB  2019-03-06 09:53:24          11040        149  0.9411765
broaniki/titanic                                    titanic                                        717KB  2018-01-30 04:08:45           8407        130  0.1764706
kittisaks/testtitanic                               test titanic                                    22KB  2017-03-13 15:13:12           1847         33  0.64705884
abhinavralhan/titanic                               titanic                                         22KB  2017-07-30 11:07:55            721         16  0.8235294
cities/titanic123                                   Titanic Dataset Analysis                        22KB  2017-02-07 23:15:54           1967         34  0.5294118
brendan45774/gender-submisson                       Titanic: all ones csv file                      942B  2021-02-12 19:18:32           1090         40  0.9411765
ibrahimelsayed182/titanic-dataset                   Titanic dataset                                  6KB  2022-01-27 07:41:54            921         15  1.0
vinicius150987/titanic3                             The Complete Titanic Dataset                   277KB  2020-01-04 18:24:11           5401         45  0.64705884
harunshimanto/titanic-solution-for-beginners-guide  Titanic Solution for Beginner's Guide           34KB  2018-03-12 17:47:06           1608         25  0.7058824
pythonafroz/titanic                                 Titanic                                         22KB  2021-10-07 20:30:18             61         42  0.23529412
sureshbhusare/titanic-dataset-from-kaggle           Titanic DataSet from Kaggle                     33KB  2017-10-12 04:49:39           3077         29  0.4117647

In [21]:
cd MLPNS2023

/content/gdrive/MyDrive/MLPNS2023

In [22]:
!mkdir kaggleTitanic

In [23]:
cd kaggleTitanic

/content/gdrive/MyDrive/MLPNS2023/kaggleTitanic

In [24]:
!kaggle competitions download -c titanic

Downloading titanic.zip to /content/gdrive/MyDrive/MLPNS2023/kaggleTitanic
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 4.15MB/s]

In [25]:
!ls

titanic.zip

In [26]:
!unzip titanic.zip

Archive:  titanic.zip
  inflating: gender_submission.csv
  inflating: test.csv
  inflating: train.csv

In [27]:
!ls

gender_submission.csv  test.csv  titanic.zip  train.csv

In [28]:
"""
Solitamente nelle kaggle challenges c'Ã¨ un training set che viene fornito per
realizzare il programma e un test set che viene usato per valutare la
soluzione ma non reso pubblico per evitare di fare fine tuning.
Noi useremo solo train.csv e lo divideremo in train e test
"""

"\nSolitamente nelle kaggle challenges c'Ã¨ un training set che viene fornito per\nrealizzare il programma e un test set che viene usato per valutare la\nsoluzione ma non reso pubblico per evitare di fare fine tuning.\nNoi useremo solo train.csv e lo divideremo in train e test\n"

In [29]:
titanic = pd.read_csv("train.csv")
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [30]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [31]:
# Noi usiamo solo alcune colonne
titanic = titanic[['Pclass', 'Sex', 'Age']]
titanic.shape

(891, 3)

In [32]:
titanic.describe()

           Pclass         Age
count  891.000000  714.000000
mean     2.308642   29.699118
std      0.836071   14.526497
min      1.000000    0.420000
25%      2.000000   20.125000
50%      3.000000   28.000000
75%      3.000000   38.000000
max      3.000000   80.000000

In [33]:
titanic["Sex"]

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [35]:
# Dal describe vediamo che mancano dati. Togliamo le righe non complete
titanic.dropna(inplace=True)

<ipython-input-35-440be2b69927>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic.dropna(inplace=True)

In [36]:
titanic.describe()

           Pclass         Age
count  714.000000  714.000000
mean     2.236695   29.699118
std      0.838250   14.526497
min      1.000000    0.420000
25%      1.000000   20.125000
50%      2.000000   28.000000
75%      3.000000   38.000000
max      3.000000   80.000000

In [37]:
# Sostituiamo gender con una variabile binaria.
# Map prende in argomento una funzione o un dizionario

titanic["gender"] = titanic["Sex"].map({"male":0, "female":1})

<ipython-input-37-a0ac23748edf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic["gender"] = titanic["Sex"].map({"male":0, "female":1})

In [38]:
titanic

     Pclass     Sex   Age  gender
0         3    male  22.0       0
1         1  female  38.0       1
2         3  female  26.0       1
3         1  female  35.0       1
4         3    male  35.0       0
..      ...     ...   ...     ...
885       3  female  39.0       1
886       2    male  27.0       0
887       1  female  19.0       1
889       1    male  26.0       0
890       3    male  32.0       0

[714 rows x 4 columns]

In [39]:
# Useremo solo gender, quindi togliamo sex
titanic.drop("Sex", axis=1, inplace=True)

<ipython-input-39-1978b5bb2912>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic.drop("Sex", axis=1, inplace=True)

In [40]:
# Qui non facciamo whitening/standardizzazione perchÃ© le variabili vengono
# trattate una alla volta

In [41]:
from sklearn import tree

In [59]:
clf = tree.DecisionTreeClassifier(random_state=22, max_depth=5)

In [47]:
# Per fare supervised learning ci serve anche "survived" e ci siamo dimenticati

titanic_target = pd.read_csv("train.csv")[["Survived", "Age",
                                           "Pclass", "Sex"]].dropna()
titanic_target

     Survived   Age  Pclass     Sex
0           0  22.0       3    male
1           1  38.0       1  female
2           1  26.0       3  female
3           1  35.0       1  female
4           0  35.0       3    male
..        ...   ...     ...     ...
885         0  39.0       3  female
886         0  27.0       2    male
887         1  19.0       1  female
889         1  26.0       1    male
890         0  32.0       3    male

[714 rows x 4 columns]

In [48]:
titanic_target = titanic_target["Survived"]

In [60]:
clf.fit(titanic.values, titanic_target.values)

DecisionTreeClassifier(max_depth=5, random_state=22)

In [61]:
# Guardiamo come ottenere le metriche

clf.score(titanic.values, titanic_target.values)
# Ci dÃ  l'accuratezza del modello

0.8263305322128851

In [64]:
import graphviz
dot_data = tree.export_graphviz(clf, feature_names=titanic.columns, 
                                out_file=None) 
graph = graphviz.Source(dot_data)

OSError: ignored

In [66]:
from sklearn.model_selection import train_test_split

In [67]:
X_train, X_test, y_train, y_test = train_test_split(titanic.values, titanic_target.values, test_size=0.2)

In [68]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=5, random_state=22)

In [70]:
clf.score(X_train, y_train)

0.8318739054290718

In [71]:
clf.score(X_test, y_test)

0.7622377622377622

In [72]:
# Se la performance sul test set Ã¨ molto peggiore di quella sul training set,
# c'Ã¨ stato overfitting. In tal caso occorre cambiare gli hyperparameters

In [73]:
clf2 = tree.DecisionTreeClassifier(max_depth=3, random_state=222)

In [74]:
clf2.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3, random_state=222)

In [76]:
clf2.score(X_train, y_train)

0.809106830122592

In [77]:
clf2.score(X_test, y_test)

0.7832167832167832

In [78]:
clf0 = tree.DecisionTreeClassifier(random_state=222).fit(X_train, y_train)

In [79]:
clf0.score(X_train, y_train)

0.9071803852889667

In [80]:
clf0.score(X_test, y_test)

0.7202797202797203